* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;    
}

.navbar{
    background-image: url('background\ Image.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    gap: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#home, #about, #skills, #projects, #contact {
    scroll-margin-top: 80px;
    position: relative; 
}

html {
    scroll-behavior: smooth;
}

.navbar img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 0px;
    right: 100px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.navbar img:hover{
    color: grey;
}

.navbar-link{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar a:hover{
    color: grey;
}

.header-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    background-color: #647275;
    color: #fff;
    padding-top: 70px;
}

#home{
    padding-bottom: 10px;
}

.text-section{
    align-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: auto;
}

.pic{
    background-color: #ebeff0;
    width: 50%;
    margin-right: auto;
}

.profile-pic {
    margin-top: 10px;
    width: 400px;
    height: 550px;
    border-radius: 50%;
    /* border: 3px solid #fff; */
}

video{
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    background-color: #fff;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
    color: #fff;
}

h3 {
    color: #fff;
}

.weather{
  position: relative;
  z-index: 3px;  
}

p {
    color: #fff;
    margin: 20px 0;
    font-size: 1.1em;
    padding-bottom: 5px;
}

main {
    padding: 20px;
    background-color: black;
}

#about, #skills, #projects {
    margin-bottom: 40px;
    margin-left: 30px;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #333;
    display: inline-block;
    color: #fff;
}

ul {
    list-style: none;
}

ul li {
    background: #333;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #ff9900;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer i {
    font-size: 20px;
    color: #ff9900;
}

footer h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #fff;
}

@media (max-width: 768px) {
    header {
        padding: 30px 10px;
    }

    h1 {
        font-size: 2em;
    }

    .pic{
        margin-top: auto;
        background-color: #ebeff0;
        height: 47vh;
        width: 70%;
        margin-right: auto;
    }

    h2{
        padding-top: 5px;
    }

    .header-content{
        padding-top: 10px;
    }

    .navbar {
        display: flex;
        gap: 30px;
        position: fixed;
        top: 0; 
        left: 0;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.8); 
    }
    
    .profile-pic {
        margin-top: 20px;
        width: 200px;
        height: 300px;
    }

    .text-section {
        text-align: center;
        padding-right: 0;
    }

    h2 {
        font-size: 1.8em;
    }

    ul li {
        padding: 8px 10px;
        margin: 3px;
    }
}

